.sidebar {
    height: 88vh;
    flex: 0.2;
    padding: 0px 10px;
    min-width: 230px;
    color: white;
    overflow-y: overlay;
    background: #040404;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}
.sidebar_logo {
    margin-right: auto;
    height: 60px;
    padding: 8px;
}
.sidebar_title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}
.sidebar_albumImg {
    width: 100%;
    margin: 0px;
    object-fit: contain;
}
.sidebar_playlists{
    height: 120px;
    overflow-y: overlay;
}